<div class="page-header">
  <%= link_to new_quote_path, class: 'btn btn-default'  do %>
    <span class="glyphicon glyphicon-plus"></span>
    Nieuwe quote toevoegen
  <% end %>

  <h1>Lijst van quotes</h1>
</div>
<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
      <th>Auteur</th>
      <th>Quote</th>
      <th colspan="2"></th>
    </tr>
    </thead>

    <tbody>
    <% @quotes.each do |quote| %>
      <tr>
        <td class="author-name-column"><%= quote.author_name %></td>
        <td><%= quote.content %></td>
        <td><%= link_to 'Aanpassen', edit_quote_path(quote) %></td>
        <td><%= link_to 'Verwijderen', quote, method: :delete, data: { confirm: 'Weet je het zeker?' } %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>